<section class="page-card">
  <h2>{{ 'iam:password.title' | t:'Cambiar contraseña' }}</h2>
  <form [formGroup]="form" (ngSubmit)="submit()" class="auth-form">
    <label>
      <span>{{ 'iam:password.current' | t:'Actual' }}</span>
      <input formControlName="currentPassword" type="password" />
    </label>
    <label>
      <span>{{ 'iam:password.new' | t:'Nueva' }}</span>
      <input formControlName="newPassword" type="password" />
    </label>
    <button class="btn" type="submit" [disabled]="form.invalid">
      {{ 'iam:password.action' | t:'Actualizar' }}
    </button>
  </form>
</section>
